* {
  margin: 0%;
  padding: 0%;
  font-family: "Crimson Text", serif;
}
nav {
  background-color: rgb(74, 150, 70);
  margin: 5px;
  border-radius: 15px;
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: sticky;
  top: 0px;
}
nav ul {
  list-style-position: inside;
  list-style-type: "🌳";
  margin: 0;
  padding: 0;
}
.hero-title {
  text-align: center;
  justify-self: center;
}
.Tree {
  /* This Class is for cointainers*/
  width: 150px;
  height: 200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(3, 89, 139);
  border-radius: 13px;
  border: none;
  box-shadow: 2px 4px 6px rgb(164, 161, 161);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}
.Tree-link {
  /* This class is for links to each tree container */
  text-decoration: none;
  color: inherit;
}
.Tree:hover {
  background-color: rgb(58, 97, 141);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(151, 151, 151);
}

.homeimg {
  /* This class is for each tree image in cointainers that are working as buttons */
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.Tree-Img-Set {
  
  width: auto;
  height: 355px;
  margin: 10px;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 2px 4px 6px rgb(76, 76, 76);
  
  
}
nav ol li {
  list-style-position: inside;
}
.para {
  margin: 15px;
  padding: 15px;
  font-size: 18px;
}

